<div class="container-fluid">
  <div class="d-flex flex-column flex-wrap justify-content-between">
    <div class="d-flex flex-wrap flex-fill justify-content-between">
      <div class="flex-fill">
        <!-- <label for="search-text">What are you looking for?</label> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" id="search-icon">
              What are you looking for ?
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            id="search-text"
            aria-describedby="search-icon"
          />
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap flex-fill justify-content-between">
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text border-0" for="inputGroupSelect01"
              >Course</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>All</option>
            <option value="1">AWS</option>
            <option value="2">Database Paradigm</option>
            <option value="3">SQL</option>
          </select>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text border-0" for="inputGroupSelect01"
              >Subject</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text border-0" for="inputGroupSelect01"
              >Topic</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text border-0" for="inputGroupSelect01"
              >Question Type</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div>
        <h6>
          <button
            pButton
            pRipple
            label=" &nbsp;&nbsp;&nbsp;&nbsp; SEARCH  &nbsp;&nbsp;&nbsp;&nbsp; "
            icon="pi pi-search"
            class="p-button-rounded p-button-warning"
          ></button>
        </h6>
      </div>
    </div>
  </div>
</div>
