<div class="d-flex flex-column">
  <div class="fixed-top">
    <app-candidate-nav (navReviewButtonClick)="onNavReviewButtonClick()">
    </app-candidate-nav>
  </div>
  <div class="row h-100 d-flex align-items-center">
    <div class="col-2">
      <div class="d-none d-lg-block">
        <app-next-prev
          [visible]="!question.isFirst"
          (click)="previousQuestion()"
        ></app-next-prev>
      </div>
    </div>
    <div class="col-8">
      <div
        #theQuestion
        class="animate__animated"
        [ngClass]="{ animate__shakeX: shakeQuestion }"
      >
        <app-question
          (answerSelect)="onAnswerSelect($event)"
          [question]="question"
          (bookmarkToggle)="bookmarkToggle($event)"
          [showBookmark]="allowBookmark"
        ></app-question>
      </div>
    </div>
    <div class="col-2">
      <div class="d-none d-lg-block">
        <app-next-prev
          [visible]="!question.isLast"
          (click)="nextQuestion()"
          right="true"
        ></app-next-prev>
      </div>
    </div>
  </div>
</div>
<p-sidebar
  [(visible)]="visibleSidebar"
  [fullScreen]="true"
  [baseZIndex]="10000"
>
  <div class="content">
    <app-submission-review
      (cancelClick)="visibleSidebar = !visibleSidebar"
      (submitClick)="finishSection()"
    ></app-submission-review>
  </div>
</p-sidebar>
