<div class="d-flex flex-column content">
  <div>
    <app-question-nav (submitClick)="onSubmit()" [quiz]="details">
    </app-question-nav>
  </div>
  <div class="row h-100 d-flex align-items-center">
    <div class="col-2">
      <div class="d-none d-lg-block">
        <app-next-prev></app-next-prev>
      </div>
    </div>
    <div class="col-8">
      <div>
        <app-question
          (answerSelect)="onAnswerSelect($event)"
          [question]="question"
        ></app-question>
      </div>
    </div>
    <div class="col-2">
      <div class="d-none d-lg-block">
        <app-next-prev (click)="nextQuestion()" right="true"></app-next-prev>
      </div>
    </div>
  </div>
  <!-- <div>
    <app-question-nav [test]="test"> </app-question-nav>
  </div> -->
  {{ (storeState$ | async).answers | json }}
</div>

<p-sidebar
  [(visible)]="visibleSidebar"
  [fullScreen]="true"
  [baseZIndex]="10000"
>
  <div class="content">
    <!-- <app-submission-review></app-submission-review> -->
  </div>
</p-sidebar>
