:host ::ng-deep .p-accordion-header-link {
  text-decoration: none;
  border: 0px !important;
  padding-top: 2px !important;
}

:host ::ng-deep .p-accordion-toggle-icon {
  display: none;
}

:host ::ng-deep .p-accordion-content {
  border: 0px !important;
}

:host ::ng-deep .p-accordion-header-link:focus {
  box-shadow: none !important;
}

.table td,
.table th {
  padding: 0.7rem !important;
}

.pginator {
  /* background: #148f6f; */
  padding-bottom: 2rem;
}
.pginator ::ng-deep .p-paginator {
  background: none;
}

.pginator ::ng-deep .p-link {
  color: #fff;
}

.custom-select option {
  margin: 5rem !important;
}

:host::ng-deep .p-scrollpanel-wrapper {
  border-right: 9px solid #fbc12d2f;
}

:host::ng-deep .p-scrollpanel-bar {
  background-color: #fbc02d;
  opacity: 1;
  transition: background-color 0.2s;
}
:host::ng-deep .p-scrollpanel-bar :hover {
  background-color: #fbc02d;
}

.bottom-bar {
  background-color: #fff;
}

:host
  ::ng-deep
  .p-datatable.p-datatable-gridlines
  .p-datatable-thead
  > tr
  > th {
  font-size: 1.2rem;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 1rem;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.filter-reveal {
  padding-bottom: 0.5rem;
}
.filter-reveal ::ng-deep .p-dropdown {
  /* background-color: #0e1111; */
  color: #fff;
  min-width: 8rem;
  height: 100%;
}

.filter-reveal ::ng-deep .p-dropdown-panel {
  color: #fff;
}

.filter-reveal ::ng-deep .p-dropdown-items-wrapper {
  max-height: 400px !important;
}
