<div class="border-0 bottom-bar flex-fill d-flex flex-column">
  <div class="filter-reveal">
    <div class="d-flex flex-wrap flex-fill justify-content-between">
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Category</label
            >
          </div>
          <p-dropdown [options]="['All', 'New York']"></p-dropdown>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Subject</label
            >
          </div>
          <p-dropdown
            [options]="['All', 'New York', 'Rome', 'London', 'India']"
          ></p-dropdown>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Topic</label
            >
          </div>
          <p-dropdown
            [options]="['All', 'New York', 'Rome', 'London', 'India']"
          ></p-dropdown>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Question Type</label
            >
          </div>
          <p-dropdown
            [options]="['All', 'New York', 'Rome', 'London', 'India']"
          ></p-dropdown>
        </div>
      </div>

      <div>
        <div class="input-group mb-3">
          <input type="text" placeholder="...search...query" />
          <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect01"
              ><em class="pi pi-search"> </em
            ></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar flex-fill d-flex flex-column">
    <div class="mt-4">
      <p-table
        dataKey="code"
        [value]="products"
        [scrollable]="true"
        scrollHeight="30rem"
        columnResizeMode="expand"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="colgroup">
          <colgroup>
            <!-- <col style="width: 4%" /> -->
            <col style="width: 3%" />
            <col style="width: 64%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 7%" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th pResizableColumn>Name</th> -->
            <th pResizableColumn></th>
            <th pResizableColumn>Country</th>
            <th pResizableColumn>Company</th>
            <th pResizableColumn>Batch</th>
            <th pResizableColumn>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-expanded="expanded">
          <tr>
            <!-- <td>{{ item.name }}</td> -->
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="item"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>

            <td>{{ item.code }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.name }}</td>
            <td class="d-flex">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-secondary mr-2 p-button-outlined"
              ></button>

              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-item> random </ng-template>
      </p-table>
    </div>

    <div class="p-2 flex-fill d-flex align-items-center justify-content-center">
      <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
    </div>
  </div>

  <app-admin-question-bank-fab> </app-admin-question-bank-fab>
</div>
