:host ::ng-deep .p-accordion-header-link {
  text-decoration: none;
  border: 0px !important;
  padding-top: 2px !important;
}

:host ::ng-deep .p-accordion-toggle-icon {
  display: none;
}

:host ::ng-deep .p-accordion-content {
  border: 0px !important;
}

:host ::ng-deep .p-accordion-header-link:focus {
  box-shadow: none !important;
}

.table td,
.table th {
  padding: 0.7rem !important;
}
