<div class="d-flex justify-content-center">
  <div class="card m-3 border-0">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="crd-title">Section 1</h5>
        <small>10 minutes</small>
      </div>
      <p class="card-text text-muted">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card m-3 border-0">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="crd-title">Section 2</h5>
        <small>10 minutes</small>
      </div>

      <p class="card-text text-muted">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card m-3 border-0">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="crd-title">Section 3</h5>
        <small>10 minutes</small>
      </div>
      <p class="card-text text-muted">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>
