<div class="d-flex flex-column h-100 container-fluid p-2">
  <div class="flex-fill">
    <div class="container pt-4 mt-4" *ngIf="newPage">
      <div>
        <app-create-test> </app-create-test>
      </div>
      <app-fab-cross-button
        tooltip="Cancel test creation"
        (click)="cancelTest()"
      ></app-fab-cross-button>
    </div>

    <div class="h-100" *ngIf="!newPage">
      <app-test-list></app-test-list>
      <app-fab-button
        tooltip="Create new test"
        (click)="newPage = true"
      ></app-fab-button>
    </div>

    <p-confirmDialog
      key="positionDialog"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-outlined"
    ></p-confirmDialog>
  </div>
</div>
