:host::ng-deep .p-button:last-child {
  background: #fbc02d !important;
  border: 1px solid #fbc02d !important;
}

:host::ng-deep .p-button-label {
  color: #0e1111 !important;
}

:host::ng-deep .p-button-icon {
  color: #0e1111 !important;
}

:host::ng-deep .p-button.p-button-outlined {
  color: #0e1111 !important;
}

.filter-reveal {
  padding-bottom: 0.5rem;
}
.filter-reveal ::ng-deep .p-dropdown {
  /* background-color: #0e1111; */
  color: #fff;
  min-width: 8rem;
  height: 100%;
}

.filter-reveal ::ng-deep .p-dropdown-panel {
  color: #fff;
}

.filter-reveal ::ng-deep .p-dropdown-items-wrapper {
  max-height: 400px !important;
}
