<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="p-2 content">
    <p-panel>
      <p-header> <h5>THINGS TO REMEMBER</h5></p-header>

      <ul>
        <li>
          Before starting test close all chat windows, screen shot etc and make
          sure you have a stable internet connection
        </li>
        <li>
          Pressing F5 during the test will close your test and you will not be
          able to enter again
        </li>
        <li>
          If you computer shuts down you will able to continue again from the
          place you left
        </li>
        <li>Your test will open in a new window</li>
        <li>When resuming, please start your test as you did earlier</li>
      </ul>

      <p-footer>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="p-2">
              <em class="pi pi-exclamation-circle icon-sm"></em>
            </div>
            <div class="theme-color">
              <strong>
                Please read the instructions carefully before starting the test
              </strong>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-danger">
              <span>Start Test</span>
            </button>
          </div>
        </div>
      </p-footer>
    </p-panel>
  </div>
</div>
