<div>
  <div class="d-flex flex-column justify-content-center">
    <h5 class="card-text info bold-text-font">
      <textarea
        class="info info-header-edit p-2"
        placeholder="basic test information.."
      >
  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is wider card with supporting text below as a natural lead-in to.
      </textarea>
    </h5>

    <div
      class="justify-content-between card-text d-flex align-items-center mt-4"
    >
      <div class="d-flex justify-content-start">
        <div>
          <h5 class="pt-1">
            <strong class="bold-text-font" style="color: #f0ac13"
              >&nbsp; COURSE : &nbsp;
            </strong>
          </h5>
        </div>

        <div class="dropdwn">
          <!-- <h5> -->
          <p-dropdown [options]="['All', 'New York']"></p-dropdown>
          <!--  -->
          <!-- </h5> -->
        </div>
      </div>

      <div>
        <em class="pi pb-1 mr-2 pi-clock"></em>
        <small> Last updated 3 mins ago.</small>
      </div>
    </div>

    <!-- <div class="d-flex flex-wrap mt-2 justify-content-start p-2">
      <p-chip
        *ngFor="let cats of testInfo.categories"
        [label]="cats"
        styleClass="ml-1"
      ></p-chip>
    </div> -->
  </div>

  <div class="p-4">
    <p-table
      dataKey="id"
      [value]="sections"
      [scrollable]="true"
      scrollHeight="30rem"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pResizableColumn *ngFor="let prop of itemProps"> -->
          <!-- <th>ID</th> -->
          <th pResizableColumn>SUBJECT</th>
          <th pResizableColumn>TOPIC</th>
          <th pResizableColumn>QSTN LEVEL</th>
          <th pResizableColumn>QSTN COUNT</th>
          <th pResizableColumn>ACTION</th>
          <!-- <th ACTION>QSTN COUNT</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr>
          <td>{{ item.subject }}</td>
          <td>{{ item.topic }}</td>
          <td>{{ item.level }}</td>
          <td>{{ item.count }}</td>

          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary mr-2 p-button-outlined"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="mr-2 p-button-rounded p-button-danger p-button-outlined"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
