<div class="swappy-radios" role="radiogroup" aria-labelledby="qstn-statement">
  <h4 id="qstn-header">Question {{ question.index }}</h4>

  <h5 id="qstn-statement">
    {{ question.text }}
  </h5>
  <div id="option-container">
    <div>
      <label
        *ngFor="let option of question.answers; let i = index"
        (mouseup)="onClick(option, i)"
        [ngClass]="{ 'left-border': activeIndex === i }"
      >
        <input type="radio" name="options" [checked]="activeIndex == i" />
        <span class="radio"></span>
        <h5>{{ option.text }}</h5>
      </label>
    </div>
  </div>
</div>
