<div class="d-flex flex-column">
  <div class="test-type h-100 flex-fill">
    <div class="mb-2">
      <div class="d-flex justify-content-between align-items-center">
        <span class="title" style="color : {{ color }}">
          <em
            *ngIf="back"
            [routerLink]="backurl"
            class="pi pi-chevron-left mr-5"
            style="font-size: 2rem; cursor: pointer; z-index: 9999"
          >
          </em>
          <em
            *ngIf="icon"
            class="pi {{ iconClass }} mr-2"
            style="font-size: 2rem"
          >
          </em>
          {{ title }}
        </span>
        <div
          *ngIf="search"
          class="search search-holder flex-fill d-flex justify-content-end align-items-center"
        >
          <div *ngIf="searchExpanded" class="flex-fill">
            <input type="text" />
          </div>
          <div>
            <em
              (click)="searchExpanded = !searchExpanded"
              class="search pi pi-search"
            >
            </em>
          </div>
          <div>
            <em
              (click)="filtersShown = !filtersShown"
              class="search pi pi-ellipsis-v"
            >
            </em>
          </div>
        </div>
      </div>
      <div *ngIf="filtersShown" class="filter-reveal mt-5 mr-5">
        <div class="d-flex flex-wrap flex-fill justify-content-around">
          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Category</label
                >
              </div>
              <p-dropdown [options]="['All', 'New York']"></p-dropdown>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Subject</label
                >
              </div>
              <p-dropdown
                [options]="['All', 'New York', 'Rome', 'London', 'India']"
              ></p-dropdown>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Topic</label
                >
              </div>
              <p-dropdown
                [options]="['All', 'New York', 'Rome', 'London', 'India']"
              ></p-dropdown>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Question Type</label
                >
              </div>
              <p-dropdown
                [options]="['All', 'New York', 'Rome', 'London', 'India']"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
