<div class="container-fluid border-0">
  <div class="mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <div>
          <img class="img p-2" [src]="testInfo.imgsrc" alt="testInfo" />
        </div>
      </div>
      <div class="col-md-9">
        <div class="d-flex h-100 flex-column justify-content-center">
          <h1 class="card-title title">AWS Programming Level 1</h1>
          <h5 class="card-text text-muted">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer. This is
            wider card with supporting text below as a natural lead-in to
          </h5>
          <div class="d-flex flex-wrap justify-content-end p-2">
            <p-chip
              *ngFor="let cats of testInfo.categories"
              [label]="cats"
              styleClass="p-mr-2"
            ></p-chip>
          </div>
          <p class="card-text mb-5">
            <small>Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid base-view">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <em [class]="items[0].icon"></em>
          <span>{{ items[0].label }}</span>
        </ng-template>
        <app-test-info></app-test-info>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <em class="pi pi-fw pi-credit-card"></em>
          <span>{{ items[1].label }}</span>
        </ng-template>
        <app-test-reports></app-test-reports>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <em class="pi pi-fw pi-cog"></em>
          <span>{{ items[2].label }}</span>
        </ng-template>
        <app-test-settings></app-test-settings>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
