.title {
  font-size: 3rem;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
  color: #fff;
}

.card-text {
  color: #ffffffa6;
}

.img {
  width: 300px;
}

:host ::ng-deep p-tabmenu {
  width: 100%;
}

:host ::ng-deep .p-tabmenu {
  width: 100%;
}

:host ::ng-deep .p-tabmenu-nav {
  width: 100%;
}
:host ::ng-deep .p-tabview-nav {
  background: #f0ac13;
}

:host ::ng-deep .p-tabview-nav-link {
  background: #f0ac13 !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #28395b !important;
  border-color: #28395b !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #fff !important;
}

:host ::ng-deep .tabview-custom {
  a {
    text-decoration: none;
  }
  em,
  span {
    vertical-align: middle;
  }
  span {
    margin: 0 0.5rem;
  }
}

:host ::ng-deep .p-chip {
  background-color: #f0ac13;
  color: #fff;
}

.base-view {
  background-color: #fff;
}
