<div class="project-boxes d-flex flex-wrap">
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more" disabled="disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>

      <div class="box-progress-wrapper">
        <span class="box-progress-header">Progress</span>
        <div class="box-progress-bar">
          <span
            class="box-progress"
            style="width: 50%; background-color: #4a4a4a; opacity: 0.6"
          ></span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="box-progress-percentage">50%</span>
        </div>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <!-- <button class="add-participant">i</button> -->
        </div>
        <div class="days-left">2 Days Left</div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more" disabled="disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>

      <div class="box-progress-wrapper">
        <span class="box-progress-header">Progress</span>
        <div class="box-progress-bar">
          <span
            class="box-progress"
            style="width: 50%; background-color: #4a4a4a; opacity: 0.6"
          ></span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="box-progress-percentage">50%</span>
        </div>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <!-- <button class="add-participant">i</button> -->
        </div>
        <div class="days-left">2 Days Left</div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more" disabled="disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>

      <div class="box-progress-wrapper">
        <span class="box-progress-header">Progress</span>
        <div class="box-progress-bar">
          <span
            class="box-progress"
            style="width: 50%; background-color: #4a4a4a; opacity: 0.6"
          ></span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="box-progress-percentage">50%</span>
        </div>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <!-- <button class="add-participant">i</button> -->
        </div>
        <div class="days-left">2 Days Left</div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more" disabled="disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>

      <div class="box-progress-wrapper">
        <span class="box-progress-header">Progress</span>
        <div class="box-progress-bar">
          <span
            class="box-progress"
            style="width: 50%; background-color: #4a4a4a; opacity: 0.6"
          ></span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="box-progress-percentage">50%</span>
        </div>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <!-- <button class="add-participant">i</button> -->
        </div>
        <div class="days-left">2 Days Left</div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more" disabled="disabled">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>

      <div class="box-progress-wrapper">
        <span class="box-progress-header">Progress</span>
        <div class="box-progress-bar">
          <span
            class="box-progress"
            style="width: 50%; background-color: #4a4a4a; opacity: 0.6"
          ></span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="box-progress-percentage">50%</span>
        </div>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <!-- <button class="add-participant">i</button> -->
        </div>
        <div class="days-left">2 Days Left</div>
      </div>
    </div>
  </div>
</div>
