<!-- <div class="breadcrumb">
  <div class="mb-5 mt-2">
    <span class="p-2">LIST OF TESTs</span>
  </div>
</div> -->
<div class="d-flex flex-column">
  <div class="flex-fill">
    <app-title-with-search title="LIST OF TESTs"></app-title-with-search>

    <div class="crd-container">
      <app-test-card
        *ngFor="let testInfo of testInfos"
        [testInfo]="testInfo"
      ></app-test-card>
    </div>
  </div>

  <div class="pginator">
    <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
  </div>
</div>
<!--
<div class="test-type">
  <div class="mb-5 mt-2">
    <span class="p-2">LOAD INACTIVE</span>
  </div>
</div>
<div class="crd-container">
  <app-test-card
    *ngFor="let testInfo of testInfos"
    [testInfo]="testInfo"
  ></app-test-card>
</div> -->
