.custom-select option {
  margin: 5rem !important;
}

.pginator {
  /* background: #148f6f; */
  padding-bottom: 2rem;
}
.pginator ::ng-deep .p-paginator {
  background: none;
}

.pginator ::ng-deep .p-link {
  color: #fff;
}
