.out-content {
  // background-color: #0e1111;
  // padding: 0.5rem;
}

.wrapper-content {
  height: 100vh;
  padding: 0px !important;
}

.in-content {
  // background-color: #fbfbfb;
  // border-radius: 30px;
  height: 100%;
  // margin: 0.5rem;
  transition: all 0.3s ease;
}
