<div class="container pt-4 mt-4">
  <div class="m-4 borderify card p-5">
    <div>
      <div class="md-stepper-horizontal orange">
        <div
          *ngFor="let tab of TABS; index as i"
          class="md-step"
          [ngClass]="{ done: activeTabIndex > i, active: activeTabIndex == i }"
        >
          <div class="md-step-circle">
            <span>{{ i + 1 }}</span>
          </div>
          <div class="md-step-title">{{ tab }}</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>
        </div>
      </div>

      <div [ngSwitch]="activeTab">
        <div *ngSwitchDefault>
          <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="test-title">Title</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="title"
              aria-label="title for the test"
              aria-describedby="test-title"
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Category</label
              >
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>choose a category</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div *ngSwitchCase="TABS[1]">
          <div class="d-flex">
            <div class="input-group">
              <textarea
                rows="10"
                class="form-control"
                placeholder="<html> supported </html>"
                aria-label="With textarea"
                [(ngModel)]="instructions"
              >
              </textarea>
            </div>
            <div class="p-4" [innerHTML]="instructions"></div>
          </div>
        </div>

        <div *ngSwitchCase="TABS[2]">third pagge</div>

        <div *ngSwitchCase="TABS[3]">
          <!-- <p-scrollPanel [style]="{ height: '400px' }"> -->
          <p-tabView styleClass="tabview-custom pt-5 pb-5">
            <p-tabPanel>
              <ng-template pTemplate="header">
                <em class="pi pi-fw pi-info-circle"></em>
                <span>{{ TABS[0] }}</span>
              </ng-template>
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="test-title">Title</span>
                </div>

                <input
                  readonly
                  type="text"
                  class="form-control"
                  placeholder="title"
                  value="AWS Level 1"
                  aria-label="title for the test"
                  aria-describedby="test-title"
                />
              </div>

              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="test-title">Category</span>
                </div>

                <input
                  readonly
                  type="text"
                  class="form-control"
                  placeholder="category"
                  value="Cloud"
                  aria-label="title for the test"
                  aria-describedby="test-title"
                />
              </div>
            </p-tabPanel>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <em class="pi pi-fw pi-credit-card"></em>
                <span>{{ TABS[1] }}</span>
              </ng-template>
              <div>
                <ul>
                  <li>
                    Before starting test close all chat windows, screen shot etc
                    and make sure you have a stable internet connection
                  </li>
                  <li>
                    Pressing F5 during the test will close your test and you
                    will not be able to enter again
                  </li>
                  <li>
                    If you computer shuts down you will able to continue again
                    from the place you left
                  </li>
                  <li>Your test will open in a new window</li>
                  <li>
                    When resuming, please start your test as you did earlier
                  </li>
                </ul>
              </div>
            </p-tabPanel>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <em class="pi pi-fw pi-cog"></em>
                <span>{{ TABS[2] }}</span>
              </ng-template>
              <div>
                <ul>
                  <li>
                    Before starting test close all chat windows, screen shot etc
                    and make sure you have a stable internet connection
                  </li>
                  <li>
                    Pressing F5 during the test will close your test and you
                    will not be able to enter again
                  </li>
                  <li>
                    If you computer shuts down you will able to continue again
                    from the place you left
                  </li>
                  <li>Your test will open in a new window</li>
                  <li>
                    When resuming, please start your test as you did earlier
                  </li>
                </ul>
              </div>
            </p-tabPanel>
          </p-tabView>
          <!-- </p-scrollPanel> -->
        </div>
      </div>

      <div *ngIf="activeTab == TABS[0]" class="d-flex justify-content-end mt-5">
        <button
          (click)="next()"
          pButton
          pRipple
          type="button"
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
          class="p-button-raised p-button-warning"
        ></button>
      </div>

      <div
        *ngIf="activeTab != TABS[0] && activeTab != TABS[3]"
        class="d-flex justify-content-between mt-5"
      >
        <button
          pButton
          pRipple
          (click)="previous()"
          type="button"
          label="Previous"
          icon="pi pi-angle-left"
          class="p-button-raised p-button-warning"
        ></button>
        <button
          (click)="next()"
          pButton
          pRipple
          type="button"
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
          class="p-button-raised p-button-warning"
        ></button>
      </div>

      <div
        *ngIf="activeTab == TABS[3]"
        class="d-flex justify-content-between mt-5"
      >
        <button
          pButton
          pRipple
          (click)="previous()"
          type="button"
          label="Previous"
          icon="pi pi-angle-left"
          class="p-button-raised p-button-warning"
        ></button>

        <button
          (click)="createTest()"
          pButton
          pRipple
          type="button"
          label="Submit"
          icon="pi pi-check-circle"
          iconPos="right"
          class="p-button-raised p-button-warning"
        ></button>
      </div>
    </div>
  </div>
</div>
