<div class="fab-wrapper">
  <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
  <label class="fab" for="fabCheckbox">
    <span class="fab-dots fab-dots-1"></span>
    <span class="fab-dots fab-dots-3"></span>
  </label>
  <div class="fab-wheel">
    <a
      class="fab-action fab-action-1"
      pTooltip="upload from file"
      tooltipPosition="left"
    >
      <em class="pi pi-upload"> </em>
    </a>
    <a
      class="fab-action fab-action-2"
      pTooltip="create new question"
      tooltipPosition="left"
    >
      <em class="pi pi-pencil"> </em>
    </a>
    <a
      class="fab-action fab-action-3"
      pTooltip="upload from url"
      tooltipPosition="left"
    >
      <em class="pi pi-link"> </em>
    </a>
  </div>
</div>
