.crd-img {
  width: 60px;
  height: auto;
}

.crd-title {
  margin: 0 0 5px 0;
  font-weight: bolder;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crd-content {
  font-size: 0.8em;
  margin: 0;
}

.crd-bdy {
  overflow: hidden;
}

.crd {
  cursor: pointer;
}

.crd:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 12px 24px 4px rgba(255, 255, 255, 0.2); */
  /* transform: scale(1.1); */
  transition: all 0.2s ease;
}

:host ::ng-deep .p-chip {
  background-color: #f0ac13;
  color: #fff;
}
:host ::ng-deep .p-chip {
  font-size: small;
  font-weight: bold;
}

.crd-title-sm {
  font-family: "Righteous", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #28395b;
}
