<div class="wrapper">
  <div class="d-flex flex-column content">
    <div
      class="d-flex flex-wrap projects-status my-menu align-items-center mb-3"
    >
      <div class="flex-fill">
        <span class="title"> MANAGEMENT </span>
      </div>

      <div></div>
      <div
        class="my-menu-item"
        *ngFor="let item of TABS"
        [ngClass]="{ active: ACTIVE_TAB == item.key }"
        (click)="activateTab(item.key)"
      >
        <span>{{ item.count }}</span>
        <span class="my-menu-item-label"> {{ item.label }}</span>
      </div>
    </div>

    <div
      [ngSwitch]="ACTIVE_TAB"
      class="flex-fill justify-content-center align-items-center"
    >
      <div *ngSwitchCase="TABS[0].key">
        <app-admin-course-mngmnt></app-admin-course-mngmnt>
      </div>
      <div *ngSwitchCase="TABS[1].key">
        <app-admin-subject-mngmnt></app-admin-subject-mngmnt>
      </div>
      <div *ngSwitchCase="TABS[2].key">
        <app-admin-topic-mngmnt></app-admin-topic-mngmnt>
      </div>
      <div *ngSwitchCase="TABS[3].key">
        <app-admin-question-bank></app-admin-question-bank>
      </div>
      <div *ngSwitchCase="TABS[4].key">
        <app-admin-student-mngmnt></app-admin-student-mngmnt>
      </div>
    </div>

    <p-confirmDialog></p-confirmDialog>
  </div>
</div>
