<main>
  <nav>
    <div class="logo">
      <div class="dog">
        <div class="ear ear__left"></div>
        <div class="ear ear__right"></div>
        <div class="dog-face">
          <div class="patch"></div>
          <div class="eye eye__left"></div>
          <div class="eye eye__right"></div>
          <div class="nose"></div>
        </div>
      </div>
      <div class="text">DGDT Admin</div>
    </div>
    <div class="navigation">
      <a class="active" href="#">Doggobase</a><a href="#">Articles</a>
    </div>
    <div class="profile">
      <a class="button primary medium"><i class="icon-user"></i></a>
    </div>
  </nav>
  <section class="stats">
    <div class="stats__item">
      <i class="icon-envelope-letter stats__icon"></i>
      <h2 class="stats__number">58</h2>
      <p class="stats__info">Emails in Queue</p>
    </div>
    <div class="stats__item">
      <i class="icon-dislike stats__icon"></i>
      <h2 class="stats__number">12</h2>
      <p class="stats__info">Give-up Requests</p>
    </div>
    <div class="stats__item">
      <i class="icon-heart stats__icon"></i>
      <h2 class="stats__number">38</h2>
      <p class="stats__info">Adopted Out</p>
    </div>
    <div class="well-cta">
      <div class="well-cta__text">
        <h3>Do it for the doggos!</h3>
      </div>
      <div class="well-cta__image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pug.png"
          alt="Picture of Pug"
        />
      </div>
    </div>
  </section>
  <section class="tables">
    <h1>All Dogs</h1>
    <div class="table__wrapper">
      <table class="table">
        <thead class="table__header">
          <tr>
            <td>Live?</td>
            <td>ID</td>
            <td>Name</td>
            <td>Breed</td>
            <td>Last Updated</td>
            <td>Status</td>
            <td></td>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input id="toggle-checkbox" type="checkbox" checked="checked" />
                <label for="toggle-checkbox"></label>
              </div>
            </td>
            <td>0045</td>
            <td>Doggo Dogg</td>
            <td>Shiba Inu</td>
            <td>20 June 2019</td>
            <td><span class="badge status-primary">Available</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input
                  id="toggle-checkbox-2"
                  type="checkbox"
                  checked="checked"
                />
                <label for="toggle-checkbox-2"></label>
              </div>
            </td>
            <td>0044</td>
            <td>Labra-thor, Strongest Avenger</td>
            <td>Labrador Retriever</td>
            <td>20 June 2019</td>
            <td><span class="badge status-error">Pending</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input id="toggle-checkbox-3" type="checkbox" />
                <label for="toggle-checkbox-3"></label>
              </div>
            </td>
            <td>0043</td>
            <td>Branch Manager</td>
            <td>Poodle</td>
            <td>20 June 2019</td>
            <td><span class="badge status-success">Adopted</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input id="toggle-checkbox" type="checkbox" checked="checked" />
                <label for="toggle-checkbox"></label>
              </div>
            </td>
            <td>0045</td>
            <td>Doggo Dogg</td>
            <td>Shiba Inu</td>
            <td>20 June 2019</td>
            <td><span class="badge status-primary">Available</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input
                  id="toggle-checkbox-2"
                  type="checkbox"
                  checked="checked"
                />
                <label for="toggle-checkbox-2"></label>
              </div>
            </td>
            <td>0044</td>
            <td>Labra-thor, Strongest Avenger</td>
            <td>Labrador Retriever</td>
            <td>20 June 2019</td>
            <td><span class="badge status-error">Pending</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input id="toggle-checkbox-3" type="checkbox" />
                <label for="toggle-checkbox-3"></label>
              </div>
            </td>
            <td>0043</td>
            <td>Branch Manager</td>
            <td>Poodle</td>
            <td>20 June 2019</td>
            <td><span class="badge status-success">Adopted</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-toggle">
                <input id="toggle-checkbox" type="checkbox" checked="checked" />
                <label for="toggle-checkbox"></label>
              </div>
            </td>
            <td>0045</td>
            <td>Doggo Dogg</td>
            <td>Shiba Inu</td>
            <td>20 June 2019</td>
            <td><span class="badge status-primary">Available</span></td>
            <td><span class="icon-options-vertical"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
<footer>
  <div class="explanation">
    Part of the
    <a href="https://codepen.io/collection/DQvYpQ" target="_blank"
      >CSS Grid collection</a
    >
    and the
    <a href="https://codepen.io/collection/XJyNPm/" target="_blank"
      >Style Guide collection</a
    >.
  </div>
  <div class="social">
    <a href="https://twitter.com/meowlivia_" target="_blank"
      ><i class="icon-social-twitter icons"></i></a
    ><a href="https://github.com/oliviale" target="_blank"
      ><i class="icon-social-github icons"></i></a
    ><a href="https://dribbble.com/oliviale" target="_blank"
      ><i class="icon-social-dribbble icons"></i
    ></a>
  </div>
</footer>
