.crd-img {
  width: 60px;
  height: auto;
}

.card {
  width: 180px;
}

.crd-name {
  font-family: "Righteous", Helvetica, Arial, sans-serif;
  white-space: nowrap;
  color: #495057;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  /* box-shadow: 0 12px 24px 4px rgba(255, 255, 255, 0.2); */
  /* transform: scale(1.1); */
  transition: all 0.2s ease;
}

.filter-reveal {
  padding-bottom: 0.5rem;
}
.filter-reveal ::ng-deep .p-dropdown {
  /* background-color: #0e1111; */
  color: #fff;
  min-width: 8rem;
  height: 100%;
}

.filter-reveal ::ng-deep .p-dropdown-panel {
  color: #fff;
}

.filter-reveal ::ng-deep .p-dropdown-items-wrapper {
  max-height: 400px !important;
}
