<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="p-2 content">
    <p-card
      [header]="details.title"
      [subheader]="details.subtitle"
      [style]="{ 'box-shadow': 'none' }"
    >
      <p [innerHTML]="details.details"></p>
      <p-accordion>
        <p-accordionTab header="Details per section">
          <p-table [value]="details.sections">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">No of questions</th>
                <th scope="col">Timing</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-section>
              <tr>
                <td>
                  <div>
                    {{ section.title }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ section.questions.length }}
                  </div>
                </td>
                <td>
                  <div>{{ section.timer }}</div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
      <ng-template pTemplate="footer">
        <div class="d-flex w-100">
          <div class="d-flex align-items-center">
            <div class="p-2">
              <em class="pi pi-question-circle icon-sm"></em>
            </div>
            <div class="p-2">
              <strong>Total Questions : {{ counter.questionCount }}</strong>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="p-2">
              <em class="pi pi-clock icon-sm"></em>
            </div>
            <div class="p-2">
              <strong>{{ counter.timeCount }} min</strong>
            </div>
          </div>
          <div class="d-flex flex-fill justify-content-end align-items-center">
            <button
              (click)="onStartClick()"
              type="button"
              class="btn btn-danger"
            >
              <span>Start Quiz</span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
