/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.btn-round {
  border-radius: 17px;
}

.icon {
  font-size: 2.5rem !important;
  color: #f44336;
}

.icon-sm {
  font-size: 2rem !important;
  color: #f44336;
}

.theme-color {
  color: #f44336;
}
