:host
  ::ng-deep
  .p-datatable.p-datatable-gridlines
  .p-datatable-thead
  > tr
  > th {
  font-size: 1.2rem;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 1rem;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.filter-reveal {
  padding-bottom: 0.5rem;
}
.filter-reveal ::ng-deep .p-dropdown {
  /* background-color: #0e1111; */
  color: #fff;
  min-width: 8rem;
  height: 100%;
}

.filter-reveal ::ng-deep .p-dropdown-panel {
  color: #fff;
}

.filter-reveal ::ng-deep .p-dropdown-items-wrapper {
  max-height: 400px !important;
}
